.saludo-interactivo-container {
  background-color: #e0e0e0;
  padding: 20px;
  text-align: center;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
  margin-right: 10px;
  
}

button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}


